* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-sizing: border-box;
    padding: 20px;
    height: 80px;
}

.explore {
    width: 15px;
    display: flex;
    padding: 5px 10px;
    gap: 15px;
}

.anchor {
    color: white;
    text-decoration: none;
}

.im {
    width: 40px;
    height: 10vh;
    display: flex;
    padding: 5px;
    justify-content: center;
}

.last {
    display: flex;
    gap: 50px;
}

.live {
    border: 2px solid red;
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
   

}

input {
    background-color: black;
    color: white;
    padding: 5px 0;
    height: 30px;
}
img{
    color: white;
}
.ab{
    padding: 10px 0 0 20px;
}

.mission {
    color: white;
    background-color: red;
    text-decoration: none;
    border: 1px;
    padding: 15px;
    border-radius: 10px;

}


.line {
    display: flex;
    gap: 30px;
    padding: 70px 30px 0;
}

.par {
    display: flex;
    gap: 150px;
    padding: 15px 30px 0;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    height: 86vh;
    width: 100%;
    top: 30%;
    color: black;
    background-image: url(./image/star-field-space-nebulae-gas-congestion_941265-18868.avif );
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    /*background-image: linear-gradient(to right, black , red , black);*/
}

.hd {
    padding: 120px 30px 0;
    font-style: oblique;
    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
}

.explain {
    padding: 40px 30px 0;
    font-style: italic;
}
